* 
{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 2px;
}

html {
    scroll-behavior: smooth;
}

.navbar 
{
    opacity: 0.7;
    height: 10vh;
}

.nav-item
{
    font-size: small;
    margin: 2vh;
}

#navbarSupportedContent
{
    margin-left: 10vh;
}

.navbar-custom
{
    background-color: #000000;
    
}

.navbar-custom .navbar-nav .nav-link,
.navbar-custom .navbar-brand
{
color: #ffffff !important;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #F9B23D;
}

body{
    background-color: #9C835F;
    background-size: cover;
}

.game-play {
    margin: 10vh;
    margin-top: 15vh;
}

.game-area{
    position: relative;
    margin: auto;
    margin-top: 100px;
    height: 200px;
    width: 500px;

}

button:hover{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    background-color: white;
    opacity: 0.5;
    border: 0px;
    border-radius: 5px;
}

button{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    background-color: transparent;
    border: 0px;
}

/* #rock {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    background-color: white;
    opacity: 0.5;
    border: 0px;
    border-radius: 5px; 
} */

img{
    width: 50px;
    height: 50px;
}

#vs{
    width: 50px;
    height: 200px;
    color: #BD0000;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 180px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

/* #result{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 120px;
    height: 60px;
    background: #4C9654;
    border-radius: 10px;
    transform: rotate(-28.87deg);
    font-style: normal;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
} */