* 
{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 2px;
}

html {
    scroll-behavior: smooth;
  }

.navbar 
{
    opacity: 0.7;
    height: 10vh;
}

.nav-item
{
    font-size: small;
    margin: 2vh;
}

#navbarSupportedContent
{
    margin-left: 10vh;
}

.navbar-custom
{
    background-color: #000000;
    
}

.navbar-custom .navbar-nav .nav-link,
.navbar-custom .navbar-brand
{
color: #ffffff !important;
}

body 
{
   height: 100%; 
}

img
{
    max-width:100%;
    max-height:100%;
}

#pageOne
{
    background-image: url(assets/main-bg.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pageOne-content
{
    position: relative;
    padding-top: 15rem;
    text-align: center;
}

#the-story
{
    margin-top: 25vh;
}

.rectangle
{
    margin: 0 auto;
    margin-top: 5px;
    height: 20px;
    width: 20px;
    border-radius: 2px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid white;
}

h1 
{
    font-size: 4em;
    letter-spacing: 4px;
    text-transform: uppercase;
}

h2
{
    color: #FFB548;
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 4px;
    margin-top:4px;
}

.h1-sub 
{
    font-size: 3em;
    letter-spacing: 4px;
    font-weight: 400;
}

p
{
    font-weight: 200;
    letter-spacing: 2px;
}

.contentOne
{
    margin-top: 5vh;
}

.playNow-btn
{
    font-weight: bold;
    padding: 10px;
    height: 50px;
    width: 250px ;
    background-color: #FFB548;
}

.pageOne::before {
    content: "";
    position: absolute;
    top: 10vh;
    height: 90vh;
    width: 100vw;
    background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%);
}

.default-text
{
    font-size: 1.2em;
    font-weight: 400;
}

#pageTwo
{
    background-image: url(assets/the-games-bg.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pageTwoContent
{
    padding-top: 30vh;
}

.pageTwo::before {
    content: "";
    position: absolute;
    top: 100vh;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080A0B 99.74%);
}

.carousel-indicators li {
    width: 0.5em;
    height: 0.5em;
    background-color: transparent;
    margin-left: 20px;
    margin-right: 20px;
    border:2px solid white;
    border-radius: 50%;
}

#pageThree
{
    background-image: url(assets/features.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pageThreeContent
{
    padding-top: 20vh;
}

.fetures-list
{
    margin-top: 5vh;
}

.circle-full
{
    margin-top: 10px;
    height: 15px;
    width: 15px;
    border: 7px solid #ffffff;
    border-radius: 100%;
}

.circle
{
    margin-top: 10px;
    height: 15px;
    width: 15px;
    border: 2px solid #ffffff;
    border-radius: 100%;
}

.line
{
    margin-top: 100px ;
    margin-bottom: -203px;
    margin-left: 6px;
    height: 145px;
    width: 0;
    border-left: 2px solid white;
}

.pageThree::before {
    content: "";
    position: absolute;
    top: 200vh;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%);
}

#pageFour
{
    background-image: url(assets/requirements.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pageFour::before {
    content: "";
    position: absolute;
    top: 300vh;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%);
}

#pageFourContent
{
    padding-top: 10vh;
}

.requirements-box
{
    margin-top: 10vh;
}

.text-yellow
{
    font-size: medium;
    color: #FFB548;
    padding-top: 8px;
}

#pageFive
{
    background-image: url(assets/bg\ image\ 5.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pageFive::before {
    content: "";
    position: absolute;
    top: 400vh;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(35, 15, 15, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080A0B 99.74%);
}

.pageFiveContent
{
    margin-top: 20vh;
}

.seeMore-btn
{
    font-size: smaller;
    font-weight: bold;
    color: #000000;
    background-color:#FFB548;
    letter-spacing: 1px;
    width: 15em;
    height: 3em;
}

.quotes
{
    height: 200px;
    width: 500px;
    margin-top: 5vh;
    padding: 30px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    color: #ffffff;
}

.user-avatar
{
    height: 60px;
    width: 60px;
    border: 30px solid #FFB548;
    border-radius: 100%;
}

.quotes-content
{
    margin-left: 1vw;
}

.ava-name
{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFB548;
}

.ava-job
{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #FFFFFF;
    opacity: 0.5;
}

.quotes-desc
{
    margin-top: 10px;
}

.quotes-date
{
    padding-top: 10px;
    font-size: 14px;   
    line-height: 19px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

#pageSix 
{
    background-color: black;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contentSix
{
    margin-top: 20vh;
}

.btn-sb
{
    font-weight: normal;
    font-size: 50;
    letter-spacing: 1px;
    padding: 5px;
    height: 40px;
    width: 150px ;
    background-color: #FFB548;
    border-radius: 5px;
}

.placeholder
{
    height: 40px;
    width: 200px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
}

.footer
{
    height: 100px;
    width: 100%;
    margin: 20vh 0 0 0;
    padding: 10px;
    background: rgba(255, 255, 255, 0.02);
    border-top: 1px solid white;
    color: #ffffff;
} 